body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem 1rem 0;
    max-width: 800px;
}

img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    display: block;
}

h1 {
    margin: 0 0 1rem;
    line-height: 1.75;
}

h2 {
    margin: 1rem 0;
}

p {
    margin: 0 0 1rem;
}

p.metadata {
    font-size: 0.75rem;
}

a {
    color: darkblue;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    gap: 1rem;
}
